@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text Primary">Create File Entry</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="FileHeading"></label>
            <input asp-for="FileHeading" class="form-control" />
        </div>
        <div class="mb-3">
            
            <label asp-for="FileInDate"></label>
            <input asp-for="FileInDate" type="date" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="FileOutDate"></label>
            <input asp-for="FileOutDate" type="date" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
